#message-form {
  width: 1000px;
  margin: 15% auto;
  border-radius: 15px;
}

#link-form {
  width: 1000px;
  margin: 15% auto;
  border-radius: 15px;
}

#message-show {
  width: 1000px;
  margin: 15% auto;
  border-radius: 15px;
}
